*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.background-image{
    background-image: url(image/background-image.png);
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    filter: brightness(75%);
}

.page-header{
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    padding-top: 57px;
}

/* styles for three line on right */
.menubar{
    display: inline-block;
    padding: 25px;
    position: absolute;
    top: 53px;
    background-color: #000000;
    cursor: pointer;

}

.line{
    width: 35px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
}

.menu{
    position: absolute;
    width: 17%;
    height: 80%;
    background-color: #000000;
    display: inline-block;   
    text-align: center;
    border-radius: 36px;
    font-size: 20px;
    font-weight: 300;    
    transition: 2s ease-out;
    left: -300px;
    top: 133px;
}

.hat-image{
    padding: 50px 0 15px;

}

.menu-content{
    color: #ffffff;
}

.menu-content ul{
    padding: 20px;
    list-style: none;
    color: #ffffff;
}

.menu-content ul li{
    padding: 11px;
    cursor: pointer;
   
}

ul a{
    color: #ffffff;
}

/* property to display the sidebar on mouse hover */
.menubar:hover +.menu {
    left: -25px;
}

.right-side-text{
    color: #ffffff;
    position: absolute;
    font-weight: 700;
    transform: rotate(270deg);
    right: -114px;
    top: 192px;
    letter-spacing: 4px;
}

.word{
    display: inline;
    font-size: 40px;
}

.year{
    font-size: 115px;
    display: inline;
    padding-left: 6px;
}

/* styles for text on bottom of page*/
.bottom-line{
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 35px;
    /* margin: auto; */
    width: 100%;
}

.hat-line{
    font-size: 115px;
    font-weight: 600;
}

.lifetime{
    font-size: 150px;
    font-weight: 600;
}

.social-media-icon{
    position: absolute;
    font-size: 35px;
    color: #ffffff;
    bottom: 15px;
    right: 32px;
}

.fa-twitter:before {
    margin-right: 10px;
}


